input:invalid {
    background: red;
    color: #fff;
}

.datepicker.dropdown-menu{
	z-index:9999999!important;
}
.table-responsive
{
    overflow-x: auto;
}
/* here you can put your own css to customize and override the theme */
input[type=date].input-sm, input[type=time].input-sm{
	line-height: 30px!important;
	}
hr{
	margin: 0;	
}
.select2-container.select2-container-disabled .select2-choice{
	border: 1px solid #d2d2d2;
	background-color: #eee;
	height: 28px;
	padding-top: 0px;
	}
.select2-container .select2-choice{
	border: 1px solid #d2d2d2;
	height: 28px;
	padding-top: 0px;
	}

.nav-tabs>li>a{
	line-height:1.25;
	
}

.fc-toolbar h2{
	font-size: 16px;
	margin:0px;
	}

.fa-2-5x{
	font-size: 2.5em;
	}

.page-bar{
	background-color: #f4f9fd!important;
	}

li{
	list-style-position: inside;
}
.tabbable-custom{
	overflow: visible;
}
.form-control {
    border: 1px solid #d2d2d2;
    padding: 8px 8px;
}

.input:focus:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.tabletools-btn-group {
    margin: 0 0 0px 0;
}

.tabletools-btn-group > .btn{
    margin-right: 2px;
    padding: 2px 5px 2px 6px;
}

.table-scrollable{
    margin: 0px!important;
}

.tabbable-custom.tabbable-full-width > .tab-content{
    padding: 5px 0px;
}

.heading > h3
{
    color: #ef554d!important;
}


.login .content .input-icon {
  border-left: 2px solid #3f81cf !important;
}

.login .content .input-icon .form-control {
  border-left: 0;
}



#formedit > div > ul > li > a
{
    border-bottom:1px solid #ddd;
}
#formedit > div > ul > li.active > a
{
    background-color: #fcfcfc;	
}

.tabbable-custom > .nav-tabs > li{
    margin-right:-1px;
}

.form-group {
    margin-bottom: 3px;
}


/*profile sales summary*/
.portlet {
    margin-bottom: 10px;
}

.portlet > .portlet-title {
    margin:0px;
    padding-bottom: 2px;
    min-height:0;
}

.portlet > .portlet-title > .caption {
    padding: 0px;
    font-size: 16px;
    font-weight: 500;	
    vertical-align:text-bottom;

}

.portlet.box.red > .portlet-title{
    background-color:#ef554d;	
}


.sale-summary ul {
    margin-top: -10px;
}

.sale-summary li {
    padding: 2px 0;
    overflow: hidden;
    border-top: solid 1px #eee;
}

.sale-summary li:first-child {
    border-top: none;
}

.sale-summary li .sale-info {
    margin-top: 4px;
    float: left;
    color: #646464;
    font-size: 12px;
    text-transform: uppercase;
}


.sale-summary li .sale-num {
    float: right;
    color: #169ef4;
    font-size: 16px;
    font-weight: 300;
}

.sale-summary li span i {
    top: 1px;
    width: 13px;
    height: 14px;
    margin-left: 3px;
    position: relative;
    display: inline-block;
}

.sale-summary li i.icon-img-up {
    background: url(../../img/icon-img-up.png) no-repeat !important;
}

.sale-summary li i.icon-img-down {
    background: url(../../img/icon-img-down.png) no-repeat !important;
}

.sale-summary .caption h4 {
    color: #383839;
    font-size: 14px;
}

.sale-summary .caption {
    border-color: #c9c9c9;
}


.red.btn {
    background-color: #EF554D;	
}
.red.btn:hover {
    background-color: #ca4944;	
}

.blue.btn {
    background-color: #3f81cf;	
}
.blue.btn:hover {
    background-color: #3970b1;	
}

.grey-cascade.btn {
    color: white;
    background-color: #6c6c6c;
    border-color: "";
}
.grey-cascade.btn:hover {
    color: white;
    background-color: #515151;
    border-color: "";
}



.ui-autocomplete-loading
{
	background-image: url(../img/loading-spinner-grey.gif)!important;
    background-repeat: no-repeat!important;
    background-position: 2px!important;
    padding-left: 25px!important;
	padding-top: 5px!important;
    color: #000!important;
}
.ui-autocomplete {
	z-index: 9999999!important;
    max-height: 350px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
.ui-menu .ui-menu-item a{
	
	line-height: 2;
	font-size:16px;

	}
.ui-autocomplete-input, #pesq, #searchtext{
    background-image: url(../../layout/img/search_icon.png);
    background-repeat: no-repeat;
    background-position: 6px;
    padding-left: 25px;
    color: #000;
}

.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3{
	font-weight:bold;
	
	}
.dados-summary ul {
    margin-top: -10px;
}

.dados-summary li {
    padding: 2px 0;
    overflow: hidden;
    border-top: solid 1px #eee;
}

.dados-summary li:first-child {
    border-top: none;
}

.dados-label {
    margin-top: 4px;
    float: left;
    color: #646464;
    font-size: 12px;
    text-transform: uppercase;
}

.dados-control {
    float: right;
    color: #646464;
    font-size: 16px;
    font-weight: 300;
}

.portlet.box.blue-hoki > .portlet-title{
    background-color: #3f81cf;
}

.portlet.box.red-sunglo > .portlet-title{
    background-color: #ef554d;
}

.portlet.box.grey-cascade{
    border: 1px solid #515151
}

.portlet.box.grey-cascade > .portlet-title {
    background-color: #515151;
}	

.portlet.box.grey-silver{
    border: 1px solid #515151
}

.portlet.box.grey-silver > .portlet-title {
    background-color: #515151;
    color: #fff;
}	

.popover-content {
    color: #000;
}

#recaptcha_image,
#recaptcha_image img 
{
    width: 210px !important;
    cursor: pointer;
}

.container {
    vertical-align: middle;
}

#cookie_assistant_wrapper.bottom-right {
  bottom: 40px !important;
}