
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 12px;
}

#maincontent .row, .normalform .row {
	margin-bottom: 2px;
}

.alertify .ajs-header {
	background-color: red !important;
	color: #fff;
}

.ui-autocomplete {
  z-index:2147483647;
  /*top:400px !important;
  left:200px !important;*/
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

ul[id*='_completionListElem'] {
	z-index: 215000000 !important;
}
		
.alertify .ajs-modal {
	z-index: 9999;
}
		
.alertify-notifier {
	z-index: 9999;
}
		
.radio, .checkbox {
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn {
	margin: 0 0 0 0;
}

.btn {
  /*border: 1px solid transparent;
  /*border-bottom: 3px solid transparent;*/
  text-decoration: none;
  cursor: pointer;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  margin: 0 0 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  outline: none !important;
}

.progress-bar-warning .ui-widget-header, .bg-warning, .btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active, .progress-bar-warning,
.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
  background-color: #9C9A78;
  color: #f8f8f8;
  border-color: #8D8B61;
}

.progress-bar-success .ui-widget-header, .bg-success, .btn-success, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active, .progress-bar-success,
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
  background-color: #45837A;
  color: #f8f8f8;
  border-color: #34786E;
}
		
.box-content {
	background: #FFF;
}

#modalbox {
  z-index: 2000;
}


.nav-tabs > li {
float: left!important;
margin-bottom: -1px;
}

#modalbox .devoops-modal {
	width: 1200px;
}

@media (max-width: 768px) {
	.Flt_Calendario {
		display: none;
	}
}

.alertify .ajs-header {
	background-color: red !important;
	color: #fff;
}

.mainformcampos {
    background: #fff;
    border: 1px solid #e5e5e5;
}

#modalbox {
  display:none;
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1900;
  background:rgba(0,0,0,0.8);
}

#modalbox .devoops-modal {
  position:absolute;
  top:30px;
  left:0;
  right:0;
  margin:auto;
  border: 1px solid #777;
  box-shadow: 0 0 10px #777;
  background: transparent;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
    width: 98%;  
  z-index:6000;
}
#modalbox .devoops-modal-header {
  color: #fff;
  position:relative;
  overflow: hidden;
  height: 26px;
  font-size: 18px;
  text-align: center-left;
  border-bottom: 1px solid #777;
  background-color: #777;
  background-image: -webkit-linear-gradient(top, #777, #999);
  background-image:    -moz-linear-gradient(top, #777, #999);
  background-image:     -ms-linear-gradient(top, #777, #999);
  background-image:      -o-linear-gradient(top, #777, #999);
  background-image:         linear-gradient(to bottom, #777, #999);
}
#modalbox .devoops-modal-inner {
  position: relative;
  overflow: hidden;
  padding: 15px;
  background: #fff;
}
#modalbox .devoops-modal-bottom {
  position: relative;
  overflow: hidden;
  padding: 15px;
  background: #fff;
}

#modalbox {
  z-index: 2000;
}

.table-responsive
{
    overflow-x: auto;
}

table.dataTable th, table.jsgrid-table th {
    text-transform: none !important;
    background: #999 !important;
    border: none !important;
    border-bottom: 2px solid #777!important;
    color: #fff!important;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 12px;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #d9534f42!important;
    color: #000!important;
}

table.dataTable td, table.jsgrid-table td {
    padding: 3px 3px 3px!important;
}

.dropdown-menu {
    z-index:2000!important;
}

.has-feedback .form-control {
    padding-right: 2px!important;
}
input {
    margin-bottom: 2px!important;
}

@media (max-width: 992px) {

    #modalbox .devoops-modal {
	  width: 760px!important;
	}

	#maincontent, .normalform {
		padding: 5px 10px 0px 20px !important;
	}  
	#history {
		padding: 5px 20px !important;
	}
	#maintoolbar {
		padding: 0px 10px 10px 10px !important;
	}
	.btn-group-sm>.btn, .btn-sm {
		padding: 0px 10px !important;
		font-size: 12px;
	}
	.titulobig {
		font-size: 20px !important;
	}
	.btn {
		padding: 5px 12px !important;
		font-size: 12px !important;
		line-height: 18px !important;
	}
}

@media (max-width: 767px) {
  	#modalbox .devoops-modal {
	  width: 760px!important;
	}
	
	table.dataTable {
		font-size: 12px!important;	
	}

	#maincontent, .normalform {
		padding: 5px 10px 0px 20px !important;
	}  
	#history {
		padding: 5px 20px !important;
	}
	#maintoolbar {
		padding: 0px 10px 10px 10px !important;
	}
	.btn-group-sm>.btn, .btn-sm {
		padding: 0px 10px !important;
		font-size: 12px;
	}
	.titulobig {
		font-size: 20px !important;
	}
	.btn {
		padding: 5px 12px !important;
		font-size: 12px !important;
		line-height: 18px !important;
	}
}

@media (max-width: 1400px) {

    #modalbox .devoops-modal {
	  width: 1200px!important;
	}
}
		
@media (max-width: 1200px) {

    #modalbox .devoops-modal {
	  width: 990px!important;
	}
}
	
@media (max-width: 992px) {

    #modalbox .devoops-modal {
	  width: 765px!important;
	}
	#maincontent, .normalform {
		padding: 5px 10px 0px 20px !important;
	}  
	#history {
		padding: 5px 20px !important;
	}
	#maintoolbar {
		padding: 0px 10px 10px 10px !important;
	}
	.btn-group-sm>.btn, .btn-sm {
		padding: 0px 10px !important;
		font-size: 12px;
	}
	.titulobig {
		font-size: 20px !important;
	}
	.btn {
		padding: 5px 12px !important;
		font-size: 12px !important;
		line-height: 18px !important;
	}
}


@media (max-width: 767px) {
	body {
		font-size: 10px;
	}
	
  #main {
    margin-top: 100px;
  }
  #messages-menu {
    top:140px;
  }
  .page-404 .form-inline {
    width: 100%;
  }
  #dashboard_links .nav {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  #dashboard_links .nav-stacked > li {
    float:left;
  }
  #dashboard_links .nav-pills > li > a {
    padding:15px;
  }
  #dashboard_links .nav-pills > li.active > a:before {
    bottom: 0;
    left: 50%;
    margin-left: -9px;
  }
	
	table.dataTable {
		font-size: 12px!important;	
	}

	#maincontent, .normalform {
		padding: 5px 10px 0px 20px !important;
	}  
	#history {
		padding: 5px 20px !important;
	}
	#maintoolbar {
		padding: 0px 10px 10px 10px !important;
	}
	.btn-group-sm>.btn, .btn-sm {
		padding: 0px 10px !important;
		font-size: 12px;
	}
	.titulobig {
		font-size: 20px !important;
	}
	.btn {
		padding: 5px 12px !important;
		font-size: 12px !important;
		line-height: 10px !important;
	}
	
	.form-control {
		height: 22px!important;
		padding: 2px 5px 2px 2px!important;
		font-size: 12px!important;
	}	

	textarea.form-control {
		height: 100%!important;
	}	
	
	table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
		padding-right: 20px;
	}

	table.dataTable thead th, table.dataTable thead td {
		padding: 5px 5px;
	}

	table.dataTable th, table.jsgrid-table th {
		border-bottom: 1px solid #777!important;
	}
	table.dataTable td, table.jsgrid-table td {
		padding: 2px 2px 2px 2px!important;
	}	
    #modalbox .devoops-modal {
	  width: 615px!important;
	}	
	
	.btn-block-xs {
		display: block;
		width: 100%;
	}
	
}

@media (max-width: 620px) {
	body {
		font-size: 10px;
	}

	.user-mini {
		display: none;
	}
	table.dataTable {
		font-size: 12px!important;	
	}
	.nav>li>a {
		padding: 5px 5px;
	}

  	#modalbox .devoops-modal {
	  width: 350px!important;
	}
	
}



@media (min-width: 768px)
header .menu .utils, header .menu .shortcuts {
    height: 25px !important;
}

@media (min-width: 768px)
header > .col {
    position: fixed;
    height: 25px !important;
}

@media (min-width: 992px)
header {
    height: 25px !important;
}

.margintop {
    margin-top: 0px !important;
}

.navbar {
    min-height: 25px;
    margin-bottom: 0px;
}

#destaques .tab-content #destaque1 ul li a.avCol .avDesc {
	overflow: hidden;
	display: -webkit-box;
	height: 45px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	padding: 10px;
}

#destaques .tab-content li a {
    color: #35809c;
}

@media (min-width: 768px)
#destaques .tab-content li a {
    text-align: left;
}
#destaques .tab-content li a {
    text-align: center;
    text-decoration: none;
    display: block;
}
a:visited, a.item-title:visited, .mainformcptitulo:visited, .grid-stack .grid-stack-item>.ui-resizable-se:visited {
    color: #35809c;
}
a, a.item-title, .mainformcptitulo, .grid-stack .grid-stack-item>.ui-resizable-se {
    color: #35809c;
}

@media (min-width: 768px)
#destaques .tab-content li {
    width: 16.6666666%;
    height: 100%;
    text-align: left;
}
#destaques li {
    list-style: none;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#destaques .tab-content #destaque1 ul li a.avCol:nth-child(odd) {
    padding-right: 10px;
}
#destaques .tab-content #destaque1 ul li a.avCol {
    overflow: visible;
    z-index: 2;
}
#destaques .tab-content li a {
    color: #35809c;
}
@media (min-width: 768px)
#destaques .tab-content li a {
    text-align: left;
}
#destaques .tab-content li a {
    text-align: center;
    text-decoration: none;
    display: block;
}
#destaques .col {
    padding: 0;
    overflow: hidden;
}
a:visited, a.item-title:visited, .mainformcptitulo:visited, .grid-stack .grid-stack-item>.ui-resizable-se:visited {
    color: #35809c;
}

#destaques .tab-content #destaque1 ul li:not(.disopen):hover, #destaques .tab-content #destaque1 ul li:not(.disopen):focus, #destaques .tab-content #destaque1 ul li.opened {
    height: 100%;
    width: 100%;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

#destaques .tab-content #destaque1 ul li a .avBlock {
    margin-bottom: 0px;
    padding-bottom: 2px;
}

#destaques .tab-content #destaque1 ul:hover, #destaques .tab-content #destaque1 ul:focus, #destaques .tab-content #destaque1 ul.opened {
    height: 100%;
}

#destaques .tab-content li {
    padding: 0px;
}

#destaques .tab-content #destaque1 ul li a.avCol:nth-child(odd) {
    padding-right: 0px;
    padding-bottom: 5px;
}

#destaques .row:not(.avRow) {
    margin: 0 5px;
    border-radius: 0;
}

#destaques .tab-content #destaque1 ul li a .avBlock {
    max-height: 100%;
}	

.form-control {
  height: 26px;
  padding: 2px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.img-left {
    max-width: 10px !important;
    max-height: 100% !important;
}

.img-user-sm {
    border: 0px !important;
}

.img_planeado{
	/* content: url("../../pimages/Img_yellow.png"); */
	content: url("../../pimages/Img_green.png");
}

.img_onsite{
	content: url("../../pimages/Img_green.png");
}

.img_onhand{
	content: url("../../pimages/Img_green.png");
	/* content: url("../../pimages/Img_red.png"); */
}
	
/*   color: #35809c !important;
    background-color: #ffdccc !important; */
	
.avBlock_planeado {
    box-shadow: 5px 5px 5px black;
    color: #fff !important;
    transition: .2s ease-in-out;
	/*box-shadow: 0 5px 5px 0 rgba(0,0,0,.4);*/
    background-color: #d9d9d9 !important;
	
}

/*   color: #35809c !important;
    background-color: #b3ffcc !important; */
	
.avBlock_onsite {
    box-shadow: 0 1px 2px 0 green;
    color: #000 !important;
    background-color: #fff !important;
    transition: .2s ease-in-out;
}

/*   color: #35809c !important;
    background-color: #99c2ff !important; */
	
.avBlock_onhand {
    box-shadow: 0 1px 2px 0 #cccc00;
    color: #000 !important;
    background-color: #fff !important;
    transition: .2s ease-in-out;
}

.glabelpblack{
	background-color: transparent!important;
    font-size: 10px!important;
	font-weight: normal!important;
	cursor: pointer;
}

.marginauto {
    padding-left: 25px;
}

div.pama{
	position: absolute; 
	left: 0px; 
	bottom: -10px;
	z-index:500;
	width: 36px;
    height: 36px;
    cursor: zoom-in;
}

div.paag{
	position: absolute; 
	left: 0px; 
	bottom: 27px;
	z-index:500;
	width: 36px;
    height: 36px;
    cursor: zoom-in;
}

p.titpama{
    bottom: 10px;
    position: relative;
    left: -7px;
    z-index: 501;
}

p.titpaag{
    bottom: 10px;
    position: relative;
    left: -7px;
    z-index: 501;
}

p.numpama{
	font-size: 15px;
    position: absolute;
    left: 10px;
    bottom: -12px;
    text-align: left;
	z-index: 501;
}

p.numpaag{
	font-size: 15px;
    position: absolute;
    left: 10px;
    bottom: -12px;
    text-align: left;
	z-index: 501;
}

@media (max-width: 992px) {		
	.titpama{
		bottom: 5px!important;
	}

	.titpaag{
		bottom: 5px!important;
	}
	
	.numpama{
		bottom: -10px!important;
	}

	.numpaag{
		bottom: -10px!important;
	}
}

@media (max-width: 768px) {
	
	.titpama{
		bottom: 5px!important;
	}

	.titpaag{
		bottom: 5px!important;
	}

	.numpama{
		bottom: 0px!important;
	}

	.numpaag{
		bottom: 0px!important;
	}
	
	i.fechar-modalbox{
	    right: 5px;
		position: relative;		
	}
}

.bt-fechar-modalbox{
	position:absolute;
	top:0px;
	right:0px;
	height: 25px;
	width: 25px;
}

.row.has-feedback{
	margin-right: -5px;
    margin-left: -5px;
}

.noclick {
	display:none !important;
}

.invisible{
	display:none !important;
}

.disabled{
    pointer-events: none;
    opacity:0.4;
}

.btQtd{
	width: 20%;
    padding: 5px 0px !important;
    margin: 0 0 0 0;
}

input.Qtd{
	width: 50%;
}

input.obs{
	width: 100%;
}

.btn-txt{
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin: 0 0 0 0;
    padding: 0 0 0 2px;
}

.tootip{
	z-index:9000;
}

.checkbox i.small, .checkbox-inline i.small, .radio i.small, .radio-inline i.small {
    font-size: 18px;
    top: 2px;
}
.checkbox i, .checkbox-inline i, .radio i, .radio-inline i {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.fa-square-o {
    padding: 0!important;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.radio, .checkbox, .radio-inline, .checkbox-inline {
    position: relative;
    padding-left: 20px;
}
.radio, .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bt_small{
	margin: 0 0 0 0!important;
	font-size: 10px;
    text-align: center;
    line-height: 10px;
	padding-right: 5px;
}

.center{
	text-align:center!important;
}	

.control-label{
    padding-top: 2px;	
}

.tx-editor-wrapper .tx-editor.expanded {
    background-color: snow;
}
	

	
#ui-datepicker-div {
  background: rgba(0, 0, 0, 0.7) !important;
  border:0;
}
#ui-datepicker-div .ui-widget-header {
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  border-bottom: 1px solid #686868;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #f8f8f8;
  padding: 1px 0;
}
#ui-datepicker-div.ui-widget-content {
  color:#f8f8f8 !important;
}
#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default, #ui-datepicker-div .ui-widget-header .ui-state-default {
  background: none;
  border:0;
  color:#f8f8f8;
  text-align: center;
}
#ui-datepicker-div .ui-state-hover, #ui-datepicker-div.ui-widget-content .ui-state-hover, #ui-datepicker-div .ui-widget-header .ui-state-hover, #ui-datepicker-div .ui-state-focus, #ui-datepicker-div.ui-widget-content .ui-state-focus, #ui-datepicker-div .ui-widget-header .ui-state-focus,
#ui-datepicker-div .ui-state-highlight, #ui-datepicker-div.ui-widget-content .ui-state-highlight, #ui-datepicker-div .ui-widget-header .ui-state-highlight {
  background: rgba(0, 0, 0, 0.3) !important;
  border:0;
  top:2px;
}
#ui-datepicker-div .ui-datepicker-group {
  border-left: 1px solid #686868;
}
#ui-datepicker-div .ui-datepicker-group:first-child {
  border-left:0;
}
#ui-datepicker-div .ui-datepicker-buttonpane {
  margin: 0;
}
#ui-datepicker-div .ui-datepicker-group table {
  margin:0 auto !important;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px !important;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px !important;
  cursor: pointer;
}

#ui-datepicker-div .ui-slider-horizontal {
  background: rgba(0, 0, 0, 0.5);
  height: 4px;
  border: 0;
}
#ui-datepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #D8D8D8 !important;
  border: 1px solid #f8f8f8;
  height: 8px;
  width: 8px;
  top:-2px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 0 0 0 0;
    cursor: pointer;
    min-height: 0;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.table-striped tr.nivel1{
	color:#000!important;
	background-color: #e6e6e6!important;
	font-weight: bold;
    font-style: oblique;
}
.table-striped tr.nivel0{
	color:#000!important;
	background-color: #fff!important;
}
.table-striped tr.emcurso{
	color:#ff8533!important;
}
.table-striped tr.fechado{
	color:#29a329!important;
}

table.datatable.dataTable.no-footer.fixedHeader-floating {
	top: 0px;
	width: 100% !important;
	display: block;
	overflow-x: auto;
}

table.display.nowrap.table.table-striped.table-bordered.compact.nowrap.no-footer.dataTable.fixedHeader-floating{
	top: 0px;
	width: 100% !important;
	display: block;
	overflow-x: auto;
	overflow-x: hidden;
}

table.table.table-striped.table-bordered.nowrap.no-footer.dataTable.fixedHeader-floating {
	top: 0px;
	width: 100% !important;
	display: block;
	overflow-x: auto;
	overflow-x: hidden;
}
